
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.refact/

node_modules/
playwright-report/
test-results/
allure-results/
allure-report/
blob-report/
*.zip
*.mp4
*.webm
*.trace